
* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#site-container {
    justify-content: center;
    display: flex;
}

#game-window-container {
    min-width: 250px;
    min-height: 350px;
    max-width: 1000px;
    max-height: 800px;
    display: flex;
    flex-flow: column;
    background-color: black;
}
